<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMapAPIKey</key>
	<string>3c972083860e96535939a20c9636f181</string>
	<key>API_HOST</key>
	<string>aweme.snssdk.com</string>
	<key>APP_GROUP_NAME</key>
	<string>group.com.ss.iphone.ugc.Aweme.extension</string>
	<key>APP_STORE_APP_ID</key>
	<string>1142110895</string>
	<key>AppIdentifierPrefix</key>
	<string>3JTPEA4UU7.</string>
	<key>AppName</key>
	<string>aweme</string>
	<key>BDJSBGeckoExtraChannels</key>
	<string>_jsb_auth.webcast</string>
	<key>BuildMachineOSBuild</key>
	<string>24G90</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>抖音</string>
	<key>CFBundleExecutable</key>
	<string>Aweme</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>AWECommentAudioTweak/icon.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.keanyang.AWECommentAudioTweak</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Aweme</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>39.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.283514277060-83rl811c9arvkm4m6759jrl4tl3a19g8</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>douyinOpenLunaMusicV4</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>douyinOpenLunaMusicV4</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>LarkSSO</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>clia451fd85fd65900d</string>
				<string>clia64ebb83b49d9013</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ss.iphone.ugc.Aweme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dypay1128</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ss.iphone.ugc.Aweme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vcd1128v2</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wxh5pay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pay-douyin.snssdk.com</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ss.iphone.ugc.Aweme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>snssdksync1128</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weibo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb1462309810</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx76fdd06dde311af3</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencentopenapi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ41E62936</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencentSSO</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1105602870</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ss.iphone.ugc.Aweme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>snssdk1128</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mp1089867489</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>toutiao</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bdfc169c8d3a2eec4a</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>awemeSSO</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>awemesso</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tbopen</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tbopen24716461</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Alipay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>awemeAlipay</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxf6916efac92cfe2b</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>douyinopensdk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>douyinopensdksm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>toutiao</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fc169c8d3a2eec4a</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tt0dvm730tgmagn4</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>rocketshare</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rs9760739781918870</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>douyinopenshare</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>douyinsharesdk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>rocketopensdk</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rkf04d0bf6578806</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxecd63ccc9dd7b159</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>bddiamond</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>snssdk1128bdd20</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>douyinAuthV1</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>douyinv1opensdk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>alipayShare</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>douyinalipayshare</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>xiguaopen</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>xgkywi40w492rajc</string>
				<string>xg37yey279zker7c</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>douyinAuthV2</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>douyinv2opensdk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>douyinShareGame</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>douyinShareGame</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>douyinopensdsmu</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>douyinopensdsmu</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>douyinOpenCard</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>douyinOpenCard</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>douyinOpenLunaMusicV2</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>douyinOpenLunaMusicV2</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>douyinOpenLunaMusicV5</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>douyinOpenLunaMusicV5</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>douyinOpenLunaMusicV3</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>douyinOpenLunaMusicV3</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>douyinOpenPlatformAddGroupV1</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>douyinOpenPlatformAddGroupV1</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>douyinOpenShareAlbumWithMusic</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>douyinOpenShareAlbumWithMusic</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>douyinOpenPlatformAuth2370</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>douyinOpenPlatformAuth2370</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>awvzt09h6abwo4ac</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>awvzt09h6abwo4ac</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>douyinOpenPlatformShare2420</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>douyinOpenPlatformShare2420</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>snssdk1128luckydogsocial</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>snssdk1128luckydogsocial</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>douyinopenplatform</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>douyinopenplatform</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>douyinOpenExternalProfileV1</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>douyinOpenExternalProfileV1</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>UPPayShare</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>douyinUPPay1128Share</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>391014</string>
	<key>CHANNEL_NAME</key>
	<string>App Store</string>
	<key>CodePushDeploymentKey</key>
	<string>GAS7xKR0tC3OvcpWXsMT3dgg0LyiE16E7piuz</string>
	<key>DTAppStoreToolsBuild</key>
	<string>17F41</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>23C57</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>26.2</string>
	<key>DTSDKBuild</key>
	<string>23C57</string>
	<key>DTSDKName</key>
	<string>iphoneos26.2</string>
	<key>DTXcode</key>
	<string>2630</string>
	<key>DTXcodeBuild</key>
	<string>17C529</string>
	<key>GIDClientID</key>
	<string>283514277060-83rl811c9arvkm4m6759jrl4tl3a19g8.apps.googleusercontent.com</string>
	<key>INIntentsSupported</key>
	<array>
		<string>INPlayMediaIntent</string>
		<string>AWEOpenPageIntent</string>
	</array>
	<key>INSupportedMediaCategories</key>
	<array>
		<string>INMediaCategoryAudiobooks</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>IntentsSupported</key>
	<array>
		<string>INPlayMediaIntent</string>
		<string>AWEOpenPageIntent</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>openapp.jdmobile</string>
		<string>https</string>
		<string>weixin</string>
		<string>weixinURLParamsAPI</string>
		<string>alipay</string>
		<string>doubao</string>
		<string>iosamap</string>
		<string>mqqopensdkapiV2</string>
		<string>uppaywallet</string>
		<string>snssdk32</string>
		<string>tbopen</string>
		<string>snssdk8663</string>
		<string>baidumap</string>
		<string>itms-beta</string>
		<string>cmbmobilebank</string>
		<string>http</string>
		<string>snssdk141</string>
		<string>videocut</string>
		<string>mqqopensdklaunchminiapp</string>
		<string>feishu</string>
		<string>alipays</string>
		<string>novelfm3040</string>
		<string>pddopen</string>
		<string>wechat</string>
		<string>mqq</string>
		<string>snssdk299467</string>
		<string>maya1349V2</string>
		<string>ttnewswttshare</string>
		<string>weibosdk</string>
		<string>dragon8662</string>
		<string>qqmap</string>
		<string>maya1349</string>
		<string>toutiaoopensdk</string>
		<string>cyberidentity</string>
		<string>dragon1967</string>
		<string>snssdk581895luckydog0</string>
		<string>snssdk2329</string>
		<string>imeituan</string>
		<string>retouch</string>
		<string>snssdk392139</string>
		<string>snssdk615883</string>
		<string>dfjzmoba</string>
		<string>weixinULAPI</string>
		<string>snssdk35</string>
		<string>luna</string>
		<string>mqqapi</string>
		<string>snssdk36</string>
		<string>snssdk581895</string>
		<string>snssdk568863luckydog3</string>
		<string>doubao2026luckydog</string>
		<string>mqqwpa</string>
		<string>mqqopensdkfriend</string>
		<string>mqqconnect</string>
		<string>mqqopensdkgrouptribeshare</string>
		<string>wtloginmqq2</string>
		<string>taobao</string>
		<string>lvsongguo</string>
		<string>imrocketshare</string>
		<string>feiliao1394</string>
		<string>wapp</string>
		<string>rocketopensdk</string>
		<string>snssdk36</string>
		<string>snssdk1165</string>
		<string>snssdk51</string>
		<string>snssdksync1112</string>
		<string>sinaweibohd</string>
		<string>ttnewsinhousesso</string>
		<string>mqqopensdkapi</string>
		<string>novelfm3040luckydog</string>
		<string>mqzoneopensdk</string>
		<string>wtloginmqq</string>
		<string>mqzone</string>
		<string>mqzonev2</string>
		<string>mqzoneshare</string>
		<string>wtloginqzone</string>
		<string>mqzonewx</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdk</string>
		<string>comgooglemaps</string>
		<string>ctrip</string>
		<string>effectcam</string>
		<string>sinaweibosso</string>
		<string>faceu</string>
		<string>snssdk10001</string>
		<string>bds</string>
		<string>snssdk143</string>
		<string>ettyapp</string>
		<string>snssdk1370</string>
		<string>snssdk36</string>
		<string>myhomecn</string>
		<string>xmddz</string>
		<string>sinaweibo</string>
		<string>snssdk3215</string>
		<string>snssdk21sf2021</string>
		<string>snssdk147</string>
		<string>ttnewssso</string>
		<string>vcd1112v2</string>
		<string>snssdk1233</string>
		<string>snssdk35dydl</string>
		<string>weibosdk2.5</string>
		<string>suning</string>
		<string>kaola</string>
		<string>mqqopensdkdataline</string>
		<string>openjd</string>
		<string>snssdk389330</string>
		<string>taobaolite</string>
		<string>wbmain</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>dragon1967luckydog</string>
		<string>baiduboxapp</string>
		<string>snssdk6340</string>
		<string>dragon8662luckydog</string>
		<string>txvideo</string>
		<string>snssdk298454</string>
		<string>snssdk141dydl</string>
		<string>weibosdk3.3</string>
		<string>snssdk201</string>
		<string>snssdk325528</string>
		<string>feishu-open</string>
		<string>uppaysdk</string>
		<string>lark</string>
		<string>snssdk564650</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>13.0</string>
	<key>NFCReaderUsageDescription</key>
	<string>NFC scan</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string> 用于选取手机内的本地音乐</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>允许后，你可以在抖音中使用投屏、智能设备等服务</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>允许后，你可以在抖音中使用投屏、智能设备等服务</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_ttnet._tcp</string>
		<string>_leboremote._tcp</string>
		<string>_bdlink._tcp</string>
		<string>_check_local_network_permission._tcp.</string>
		<string>_searchPad._tcp</string>
		<string>_companion-link._tcp</string>
		<string>_search_pc_pad._tcp</string>
	</array>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>抖音需要获取你的日历权限，以便你正常使用预约或促销提醒等服务</string>
	<key>NSCalendarsUsageDescription</key>
	<string>抖音需要获取你的日历权限，以便你正常使用预约或促销提醒等服务</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>抖音需要获取你的日历写入权限，以根据你在本应用内的预约，添加或编辑相应日程提醒</string>
	<key>NSCameraReactionEffectGesturesEnabledDefault</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string> 用于拍照、录制视频、视频通话、直播、扫一扫及实名认证场景下的校验</string>
	<key>NSContactsUsageDescription</key>
	<string> 用于获知通讯录联系人中使用该应用的用户名单</string>
	<key>NSFaceIDUsageDescription</key>
	<string>正在为您开通系统授权</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>为了保障并优化视频播放；查找并连接到本地网络上的设备，以使用投屏功能，或完成跨设备身份校验。</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>AWERadarExactLocation</key>
		<string>抖一抖加朋友将获取你的精确位置，用于寻找同时在附近抖一抖的朋友。</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string> 用于推荐附近的内容和服务</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>用于拍摄、直播、视频或语音通话、语音输入等录音或通讯场景</string>
	<key>NSMotionUsageDescription</key>
	<string>请允许获取您的行走数据，以便于奖励的准确性发放</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string> 用于便捷地保存视频、图片等内容至本地</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string> 请允许访问所有照片，以便更自由地制作视频和保存作品至本地</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>OpenPrivateSettingIntent</string>
		<string>OpenScanIntent</string>
		<string>OpenSettingIntent</string>
		<string>OpenMyOrderIntent</string>
		<string>AWEOpenShoppingIntent</string>
		<string>INSendMessageIntent</string>
		<string>AWEFriendsActivityWidgetConfigurationIntent</string>
		<string>INSearchForMediaIntent</string>
		<string>INPlayMediaIntent</string>
		<string>AWEMultiDeviceHandoff</string>
		<string>AWEOpenPageIntent</string>
		<string>AWEMultiDeviceSyncHandoff</string>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>请放心，开启权限不会获取你在其他站点的隐私信息，该权限仅用于标识设备并保障服务安全与提升浏览体验</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>238da6jt44.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>899VRGT9G8.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>r9bhdb8ga5.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>x2jnk7ly8j.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>3jtpea4uu7.skadnetwork</string>
		</dict>
	</array>
	<key>SSAppID</key>
	<string>1128</string>
	<key>UIAppFonts</key>
	<array>
		<string>DouyinNumberJR-Bold.otf</string>
		<string>DouyinNumberJR-ExtraCondensedMedium.otf</string>
		<string>DouyinNumberJR-Medium.otf</string>
		<string>DouyinNumberJR-ExtraBold.otf</string>
		<string>DouyinNumberJR-CondensedMedium.otf</string>
		<string>DouyinNumber-Medium.otf</string>
		<string>DouyinNumber-CondensedMedium.otf</string>
		<string>DouyinNumber-ExtraBold.otf</string>
		<string>DouyinNumber-Bold.otf</string>
		<string>DouyinNumber-ExtraCondensedMedium.otf</string>
		<string>Gilroy-Bold-4.otf</string>
		<string>SFCompactDisplay-Num.ttf</string>
		<string>SFCompactDisplay-Semibold.ttf</string>
		<string>ClarityMono-Bold.otf</string>
		<string>DINCond-Black.otf</string>
		<string>SFCompactDisplay-Heavy.otf</string>
		<string>DINCond-BoldAlternate.otf</string>
		<string>DINCond-Black-Regular.ttf</string>
		<string>ByteNumber-Bold.ttf</string>
		<string>Gilroy-Medium-2.otf</string>
		<string>SFCompactDisplay-Bold_Num.ttf</string>
		<string>SairaExtraCondensed-Bold.otf</string>
		<string>SairaExtraCondensed-SemiBold.otf</string>
		<string>DouyinNumberABC-Bold.otf</string>
		<string>DouyinNumberABC-CondensedMedium.otf</string>
		<string>DouyinNumberABC-ExtraBold.otf</string>
		<string>DouyinNumberABC-ExtraCondensedMedium.otf</string>
		<string>DouyinNumberABC-Medium.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>voip</string>
		<string>remote-notification</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A0000002471001</string>
		<string>F049442E43484E</string>
	</array>
	<key>siriSuggestion</key>
	<string>com.siriSuggestion.Aweme</string>
</dict>
</plist>
